*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main>.left{
    background: rgb(255, 255, 76);
    padding: 1rem;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
main>.left legend{
    color: black;
    font-weight: 600;
    margin: 1rem 0;
    
}
label {
    width:120px;
    clear:left;
    display: flex;
    justify-content: flex-start;
    text-align:right;
    padding-right:5px;
    
}

textarea,input, label {
    float:left;
    border: 3px silver;
    border-radius:  6px;
}

main>.left fieldset{
    border: none;
    border-top: 1px dashed #000;
    margin: 0rem;
    
}

.btn{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background: black;
    color: yellow;
    font-weight: 600;
    cursor: pointer;
}
/* resume */
main>.right{
    background: whitesmoke;
    overflow-y: auto;
    padding: 1rem;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    gap: 1rem;
}
main>.right>.block1{
    display: flex;
    justify-content:center;
    align-items: center;
}

main>.right>.block2{
    display: flex;
    justify-content:left;
    align-items: left;
    flex-direction: column;
    color: gray;
    width: 60vw;
   
}
h2{
    color: darkgrey;
    border-bottom: 1px solid #000;
}
.print{
    display: none;
}
